/.dart_tool
/.idea
/android
/build
/ios
/linux
/macos
/web
/windows
/.flutter-plugins
/.flutter-plugins-dependencies
/.metadata
/analysis_options.yaml
/devtools_options.yaml
/dice_pt2.iml
/pubspec.lock